
*{
    text-align: center;
}
#navbar{
    background-color: #f4a261;
}
#newtask{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
}
#card1{
    height: 550px;
    margin-top: 4%;
background-color: olive;
}
#card2{ height: 550px;
    margin-top: 4%;
background-color: #b78ae1;
}
#addnewtask{
    color:#b78ae1;
}
#todo{
    color:olive;
}
