
*{
    text-align: center;
}
#navbar{
    background-color: #f4a261;
}
#newtask{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
}
#card1{
    height: 450px;
    margin-top: 2%;
    margin-bottom: 15%;
    background-color: olive;
    border-color:black;
    border-width: 0.5em;
    border-style:solid ;
    border-bottom-right-radius: 10em;
}
#card2{ 
    height: 450px;
    margin-top: 15%;
    background-color: #b78ae1;
    border-color:black;
    border-width: 0.5em;
    border-style:solid ;
    border-top-left-radius: 10em;

}
#addnewtask{
    color:#b78ae1;
}
#todo{
    color:olive;
}
.taskcheckbox:checked + .task{
    text-decoration: line-through;
}

